# Node.js dependencies
node_modules/

# Webpack output folder
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Build-related files
*.cache
*.lock

# Temporary files
*.tmp
*.temp
